
@{
    ViewBag.Title = "Index";
}

<h2>
    Bem-vindo @User.Identity.Name
</h2>

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensagem"]
    </div>
}

