@model IEnumerable<Painel_Projetos.DomainModel.Class.GruposAlunos>

@{
    ViewBag.Title = "ListaDeAlunos";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <div class="mt-4"></div>

            <div class="card mb-4">

                <div class="card-header">
                    <i class="fas fa-users"></i>
                    @TempData["NomeGrupo"]
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Alunos</th>
                                    <th>Administrador</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Aluno.Nome
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Administrador)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @section scripts{
            <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
            <script src="~/Content/js/datatables-demo.js"></script>
        }
    </main>
</div>
