@model Painel_Projetos.DomainModel.Class.Projeto

@{
    ViewBag.Title = "Details";
}

<script src="~/Content/ckeditor/ckeditor.js"></script>
<h1>@Html.DisplayFor(model => model.Titulo)</h1>
<hr />
<div>
    <div>
        @Html.Raw(Model.Descricao)
    </div>
</div>
<p>
    @if (User.IsInRole("Representante"))
    {
        <div>
            @Html.ActionLink("Editar", "Edit", new { id = Model.ID })
        </div>
    }
    <div>
        @Html.ActionLink("Voltar a lista", "List")
    </div>
</p>

<script type="text/javascript">
    CKEDITOR.replace('Descricao', { customConfig: "Content/ckeditor/config.js" });
</script>


@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#Descricao").addClass("disable");
        });
    </script>
}