@model IEnumerable<Painel_Projetos.DomainModel.Class.Curso>

@{
    ViewBag.Title = "List";
}

<h2>Lista de cursos</h2>

<p>
    @Html.ActionLink("Cadastrar Curso", "Edit")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            Curso
        </th>
        <th>
            Ativo
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID })
        </td>
        <td>
            @item.Descricao
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
    </tr>
}
</table>
